<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antoniopeng.hello.spring.boot.mapper.PermMapper">
  <resultMap id="BaseResultMap" type="com.antoniopeng.hello.spring.boot.entity.Perm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="perm_id" jdbcType="INTEGER" property="permId" />
    <result column="perm_url" jdbcType="VARCHAR" property="permUrl" />
    <result column="perm_description" jdbcType="VARCHAR" property="permDescription" />
  </resultMap>

  <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="integer">
    SELECT
    `perm`.perm_id
    , `perm`.perm_url
    , `perm`.perm_description
    FROM
    `perm`
    , `role_perm`
    WHERE
    `perm`.perm_id = `role_perm`.perm_id
    AND `role_perm`.role_id = #{roleId }
  </select>
</mapper>