<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antoniopeng.hello.spring.boot.mapper.RolePermMapper">
  <resultMap id="BaseResultMap" type="com.antoniopeng.hello.spring.boot.entity.RolePerm">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="perm_id" jdbcType="INTEGER" property="permId" />
  </resultMap>
</mapper>